* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #70c5ce;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    background-image: url("../assets/images/flappybirdbg.png");
    background-size: cover;
    border: 3px solid black;
}
